#part-2 .intro .text-wrap{
    position: absolute;
    width: 100%;
    height: 100%;   
        }

#part-2 .intro ul.intro-text{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    font-size: 1.2em;
    z-index: 99;
         }
#part-2 .intro ul.intro-text li {
    display: flex;
    width: 33.3333%;
    justify-content: center;
    cursor:pointer;
}

#part-2 .intro .text-wrap .information {
    position: absolute;
    display: none;
    top: 25px;
    height: 200px;
    width: 100%;
}

.tabaction {
    background: #FCFCFC;
    color: #000000;
    opacity: .6;
}